* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 1250;
    font-style: normal;
    line-height: 1.6;
    background-image: linear-gradient(135deg, rgba(234, 234, 234,0.06) 0%, rgba(234, 234, 234,0.06) 50%,rgba(169, 169, 169,0.06) 50%, rgba(169, 169, 169,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 72px 72px;
    padding: 20px;
}


header {
    background: url("espiral\ copy.gif");
    border-radius: 50px 25px 50px 25px;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    font-size: 200%;
    text-shadow: 0 0 10px #bebebe, 0 0 20px #bebebe, 0 0 30px #bebebe, 0 0 40px #bebebe, 0 0 50px #bebebe, 0 0 60px #bebebe, 0 0 70px #bebebe;
}

.sobre{
    background-image: repeating-linear-gradient(22.5deg, hsla(337,0%,64%,0.2) 0px, hsla(337,0%,64%,0.2) 0px,transparent 0px, transparent 1px,hsla(337,0%,64%,0.2) 1px, hsla(337,0%,64%,0.2) 4px,transparent 4px, transparent 5px,hsla(337,0%,64%,0.2) 5px, hsla(337,0%,64%,0.2) 8px),repeating-linear-gradient(157.5deg, hsla(337,0%,64%,0.2) 0px, hsla(337,0%,64%,0.2) 0px,transparent 0px, transparent 1px,hsla(337,0%,64%,0.2) 1px, hsla(337,0%,64%,0.2) 4px,transparent 4px, transparent 5px,hsla(337,0%,64%,0.2) 5px, hsla(337,0%,64%,0.2) 8px),linear-gradient(226deg, rgb(168, 168, 168),rgb(60, 60, 60));
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.projetos{
    background-image: repeating-linear-gradient(405deg, hsla(31,0%,65%,0.2) 0px, hsla(31,0%,65%,0.2) 0px,transparent 0px, transparent 1px,hsla(31,0%,65%,0.2) 1px, hsla(31,0%,65%,0.2) 4px,transparent 4px, transparent 5px,hsla(31,0%,65%,0.2) 5px, hsla(31,0%,65%,0.2) 8px),repeating-linear-gradient(315deg, hsla(31,0%,65%,0.2) 0px, hsla(31,0%,65%,0.2) 0px,transparent 0px, transparent 1px,hsla(31,0%,65%,0.2) 1px, hsla(31,0%,65%,0.2) 4px,transparent 4px, transparent 5px,hsla(31,0%,65%,0.2) 5px, hsla(31,0%,65%,0.2) 8px),linear-gradient(450deg, rgb(234, 234, 234),rgb(12, 12, 12));
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.experiencia{
    background-image: repeating-linear-gradient(22.5deg, hsla(337,0%,64%,0.2) 0px, hsla(337,0%,64%,0.2) 0px,transparent 0px, transparent 1px,hsla(337,0%,64%,0.2) 1px, hsla(337,0%,64%,0.2) 4px,transparent 4px, transparent 5px,hsla(337,0%,64%,0.2) 5px, hsla(337,0%,64%,0.2) 8px),repeating-linear-gradient(157.5deg, hsla(337,0%,64%,0.2) 0px, hsla(337,0%,64%,0.2) 0px,transparent 0px, transparent 1px,hsla(337,0%,64%,0.2) 1px, hsla(337,0%,64%,0.2) 4px,transparent 4px, transparent 5px,hsla(337,0%,64%,0.2) 5px, hsla(337,0%,64%,0.2) 8px),linear-gradient(226deg, rgb(168, 168, 168),rgb(60, 60, 60));
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.educacao{
    background-image: repeating-linear-gradient(405deg, hsla(31,0%,65%,0.2) 0px, hsla(31,0%,65%,0.2) 0px,transparent 0px, transparent 1px,hsla(31,0%,65%,0.2) 1px, hsla(31,0%,65%,0.2) 4px,transparent 4px, transparent 5px,hsla(31,0%,65%,0.2) 5px, hsla(31,0%,65%,0.2) 8px),repeating-linear-gradient(315deg, hsla(31,0%,65%,0.2) 0px, hsla(31,0%,65%,0.2) 0px,transparent 0px, transparent 1px,hsla(31,0%,65%,0.2) 1px, hsla(31,0%,65%,0.2) 4px,transparent 4px, transparent 5px,hsla(31,0%,65%,0.2) 5px, hsla(31,0%,65%,0.2) 8px),linear-gradient(450deg, rgb(234, 234, 234),rgb(12, 12, 12));
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px; 
}

.contato{
    background-image: repeating-linear-gradient(22.5deg, hsla(337,0%,64%,0.2) 0px, hsla(337,0%,64%,0.2) 0px,transparent 0px, transparent 1px,hsla(337,0%,64%,0.2) 1px, hsla(337,0%,64%,0.2) 4px,transparent 4px, transparent 5px,hsla(337,0%,64%,0.2) 5px, hsla(337,0%,64%,0.2) 8px),repeating-linear-gradient(157.5deg, hsla(337,0%,64%,0.2) 0px, hsla(337,0%,64%,0.2) 0px,transparent 0px, transparent 1px,hsla(337,0%,64%,0.2) 1px, hsla(337,0%,64%,0.2) 4px,transparent 4px, transparent 5px,hsla(337,0%,64%,0.2) 5px, hsla(337,0%,64%,0.2) 8px),linear-gradient(226deg, rgb(168, 168, 168),rgb(60, 60, 60));
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.sitefaculdade{
    text-decoration: none;
    color: black;
    font-size: large;
}

.sitecurso{
    text-decoration: none;
    color: black;
    font-size: large;
}

.sitefaculdade :hover{
    color: #e0e0e0;
}


header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 250%;
    margin-bottom: 10px;
    font-style: bold;
}

.project h3 {
    margin-bottom: 10px;
}

.project a {
    color: #333;
}

.experience ul {
    list-style: disc inside;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.section-content{
    display: none;
    margin-top: 10px;
}

.section-menu{
    cursor: pointer;
}

.section-menu:hover{
    color: #e0e0e0;
}

a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    border: 3px solid #ffffff;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    background-color: #a1a1a1;
}

button:hover{
    border: 3px solid #000000;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    background-color: #ffffff;
}

.link{
    color: #000000;
}